* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif ;
}

h1 {
    font-size: 2rem;
}

h2 {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.container {
    margin: 0 auto;
    padding: 2vh;
    width: 90%;
}

.accordion ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


.accordion ul,
.accordion li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.accordion label {
    /* display: block; */
    font-size: 1rem;
    border-top: 0.1em solid gray ;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0.3em;
    gap: 1rem;
}

.accordion .accordion-content {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
}

.accordion input[type=radio] {
    display: none;
}

.accordion [id^=meme]:checked ~ div[id^=accordion-content]{
    display: block;
    height: 14em;
    transition: all 0.3s;
}


.accordion [id^=meme]:hover ~ div[id^=accordion-content]{
    display: block;
    height: 14em;
    transition: all 0.3s;
}

li:hover [id^=meme] ~ div[id^=accordion-content]{
    display: block;
    height: 14em;
    transition: all 0.3s;
    cursor: pointer;
}

img {
    width: 80%;
}

li:hover .rotator {
    transform: rotate(45deg);
    transition: all 0.3s;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .container {
        margin: 0 auto;
        padding: 2vh;
        width: 70%;
    }

    .accordion [id^=meme]:checked ~ div[id^=accordion-content]{
        height: 35vh;
    }

    .accordion [id^=meme]:hover ~ div[id^=accordion-content]{
        height: 35vh;
    }

    li:hover [id^=meme] ~ div[id^=accordion-content]{
        height: 35vh;
    }

  }